.tasks-title, .container-tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-logout:hover {
    color: red;
    scale: 1.1;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  
.btn-pagination {
  padding: 10px;
  font-size: 14px;
}