<h1 class="tasks-title">
    Lista de Tarefas
    <fa-icon [icon]="faRightFromBracket" (click)="onLogout()" class="icon-logout" />
</h1>

<div class="container-tasks">
    <button [ngStyle]="{ 'background': 'green' }" class="btn" (click)="navigateToAddTask()">
        Adicionar Tarefa
    </button>

    <p>Total de tarefas: {{ totalTasks }}</p>
</div>

<app-task-item
    *ngFor="let tarefa of tarefas"
    [tarefa]="tarefa"
    (onDeleteTask)="deleteTask($event)"
    (onEditTask)="editTask($event)"
    (onToggleConcluido)="toggleConcluido($event)"
/>

<div class="pagination">
    <button (click)="prevPage()" class="btn-pagination" [disabled]="currentPage === 1">
        Página Anterior
    </button>

    <p>Página {{ currentPage }} de {{ totalPages }}</p>

    <button
        (click)="nextPage()"
        class="btn-pagination"
        [disabled]="currentPage === totalPages"
    >
        Próxima Página
    </button>
</div>